<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="js/lib/cookies.js"></script>
    <script src="js/lib/sockjs.js"></script>
    <link href="//cdn.bootcss.com/semantic-ui/2.1.4/semantic.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.4/semantic.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
    <title>Grouplay-platform v0.2</title>
    <style>
        #group_panel {
            height: 100%;
            width: 100%
        }
    </style>
</head>

<body ng-app="grouplay" ng-controller="grouplay-ctrl">
<div ng-if="!canShowGamePage()" id="group_panel" class="ui inverted segment">
    <div class="ui huge olive header">Grouplay</div>
    <div class="ui grid">
        <div class="five wide column">
            <!-- Waiting -->
            <h3 class="ui yellow inverted header">Waiting Groups</h3>

            <div class="ui inverted relaxed divided list">
                <div ng-if="groups.waiting&&groups.waiting.length>0" ng-repeat="item in groups.waiting"
                     class="item">
                    <div class="right floated content">
                        <!-- Join button -->
                        <div ng-switch="canJoin(item)"
                             class="ui buttons">
                            <div ng-switch-when="true" ng-click="joinGroup(item.id)"
                                 class="ui inverted blue button">Join
                            </div>
                            <div ng-switch-when="false" class="ui inverted blue disabled button">Join
                            </div>
                        </div>
                    </div>
                    <h5 class="ui grey inverted header">Hosted by {{item.host.name}}</h5>

                    <div class="ui mini black label">
                        <i class="gamepad icon"></i> {{item.players.length}} / {{item.limit}}
                    </div>
                    <div class="ui mini black label">
                        <i class="eye icon"></i> {{item.spectators.length}}
                    </div>
                    <div ng-if="item.game" class="ui horizontal green label">{{item.game.name}}</div>
                </div>
                <div ng-if="!groups.waiting||groups.waiting.length==0" class="content animate-if">
                    No waiting groups now.
                </div>

                <!-- Playing -->
                <h3 class="ui yellow inverted header">Playing Groups</h3>

                <div ng-if="groups.playing&&groups.playing.length>0" ng-repeat="item in groups.playing"
                     class="item">
                    <div class="right floated content">
                        <!-- Spectate button -->
                        <div ng-switch="item.allowSpectator" class="ui buttons">
                            <div ng-switch-when="true" ng-click="spectateGroup(item.id)"
                                 class="ui inverted purple button">Spectate
                            </div>
                            <div ng-switch-when="false" class="ui inverted purple disabled button">Spectate
                            </div>
                        </div>
                    </div>
                    <h5 class="ui grey inverted header">Hosted by {{item.host.name}}</h5>

                    <div class="ui mini black label">
                        <i class="gamepad icon"></i> {{item.players.length}} / {{item.limit}}
                    </div>
                    <div class="ui mini black label">
                        <i class="eye icon"></i> {{item.spectators.length}}
                    </div>
                    <div ng-if="item.game" class="ui horizontal green label">{{item.game.name}}</div>
                </div>
                <div ng-if="!groups.playing||groups.playing.length==0" class="content animate-if">
                    No playing groups now.
                </div>

                <div class="item">
                    <!-- Create group button -->
                    <div ng-click="getGameList()" class="fluid ui inverted bottom attached teal button">Create
                        Group
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden vertical divider">
        </div>
        <!-- group panel -->
        <div class="six wide column">
            <h3 class="ui orange inverted header">Joined Group</h3>
            <!-- Group info -->
            <div class="ui inverted relaxed divided list">
                <div ng-if="joined" class="item">
                    <div class="right floated content">
                        <!-- Start game button -->
                        <div class="ui buttons">
                            <div ng-if="myGroup()&&canStart()" ng-click="startGame(joined.id)"
                                 class="ui inverted green button">
                                Start
                            </div>
                            <div ng-if="myGroup()&&!canStart()" class="ui inverted green disabled button">Start
                            </div>
                            <div ng-if="canExit()" onclick="showExit()" class="ui inverted red button">
                                Exit
                            </div>
                            <div ng-if="!canExit()" class="ui inverted red disabled button">Exit
                            </div>
                        </div>
                    </div>
                    <h5 class="ui grey inverted header"> Hosted by {{joined.host.name}}</h5>

                    <div class="ui mini black label">
                        <i class="gamepad icon"></i> {{joined.players.length}} / {{joined.limit}}
                    </div>
                    <div class="ui mini black label">
                        <i class="eye icon"></i> {{joined.spectators.length}}
                    </div>
                    <div ng-if="game" class="ui horizontal green label">{{game.name}}</div>
                </div>
                <div ng-if="!joined" class="content animate-if">
                    You haven't joined a group yet.
                </div>
            </div>
            <!-- Member list -->
            <h5 ng-if="joined" class="ui orange inverted header">Members</h5>

            <div ng-if="joined" class="ui inverted relaxed horizontal list animate-if">
                <div class="item" ng-repeat="item in joined.players">
                    <div class="ui mini black label">
                        <i class="user icon"></i> {{item.name}}
                    </div>
                </div>
            </div>
        </div>
        <!-- message board -->
        <div class="five wide column">

        </div>
    </div>
</div>

<div ng-if="canShowGamePage()" id="game_panel" class="ui segment">
    <div class="ui inverted segment">
        <div class="ui grid">
            <div class="left floated four wide column">
                <!-- help button -->
                <div ng-if="game.rule" class="ui buttons">
                    <div ng-click="loadRule()"
                         class="ui inverted yellow button">
                        Help
                    </div>
                </div>
            </div>
            <div class="right floated four wide column">
                <!-- refresh & quit buttons -->
                <div class="ui buttons">
                    <div ng-click="refreshGameData()"
                         class="ui inverted green button">
                        Refresh
                    </div>
					<div ng-if="isSpectator()" ng-click="stopSpectating()"
                         class="ui inverted red button">Exit
                    </div>
                    <div ng-if="myGroup()" onclick="askForStop()"
                         class="ui inverted red button">Stop
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui middle aligned centered grid">
        <div id="game_frame" class="twelve wide column">
            <ng-include onload="setDataUpdateCallback()" src="gamePage">
            </ng-include>
        </div>
    </div>
</div>

<!-- Set name -->
<div id="set_name" class="ui small modal">
    <div class="header">
        Set a Name
    </div>
    <div class="content">
        <div class="ui input fluid focus">
            <input id="name" type="text" ng-model="player_name" placeholder="Input your name here...">
        </div>
    </div>
    <div ng-if="player_name&&player_name!=''" class="actions">
        <div ng-click="register(player_name)" class="ui approve button">OK</div>
    </div>
</div>
<!-- Restore game -->
<div id="restore_game" class="ui small modal">
    <div class="header">
        Set a Name
    </div>
    <div class="content">
        A game is in progress. Restore it!
    </div>
    <div ng-if="name&&name!=''" class="actions">
        <div ng-click="loadGamePage()" class="ui approve button">OK</div>
    </div>
</div>
<!-- Exit group -->
<div id="exit_group" class="ui small modal">
    <div class="header">Confirm to Exit</div>
    <div class="content">
        <div class="description">
            <p>Are you sure you want to exit the group?</p>
        </div>
    </div>
    <div class="actions">
        <div ng-click="exitGroup()" class="ui approve button">Exit</div>
        <div class="ui cancel button">Cancel</div>
    </div>
</div>
<!-- Stop game -->
<div id="stop_game" class="ui small modal">
    <div class="header">
        Quit the Game
    </div>
    <div class="content">
        Are you sure to stop the game?
    </div>
    <div class="actions">
        <div ng-click="stopGame()" class="ui approve button">Yes</div>
        <div class="ui cancel button">No</div>
    </div>
</div>
<!-- Game finished -->
<div id="game_finish" class="ui small modal">
    <div class="header">
        Game Finished
    </div>
    <div class="content">
        The game is finished, press OK to quit.
    </div>
    <div class="actions">
        <div ng-click="quitGame()" class="ui approve button">OK</div>
    </div>
</div>
<!-- Host stopped the game -->
<div id="host_stop" class="ui small modal">
    <div class="header">
        Game Stopped
    </div>
    <div class="content">
        The game stopped by host.
    </div>
    <div class="actions">
        <div ng-click="quitGame()" class="ui approve button">Got it</div>
    </div>
</div>
<!-- Create group dialog -->
<div id="create_group" class="ui small modal">
    <div class="header">Create a Group</div>
    <div class="content">
        Please select a game
        <select ng-model="game" ng-options="game.name for game in gameList" class="ui dropdown">
        </select>

        <div class="ui divider"></div>

        Please set max player number
        <select ng-model="playerNumber" ng-options="number as number for number in game.supportPlayer"
                class="ui dropdown">
        </select>

        <div class="ui divider"></div>

        <div class="ui checked checkbox">
            <input ng-model="allowSpectator" type="checkbox">
            <label>Allow spectators</label>
        </div>
    </div>
    <div class="actions">
        <div ng-if="couldCreate()" ng-click="createGroup()" class="ui approve button">Create</div>
        <div class="ui cancel button">Cancel</div>
    </div>
</div>
<!-- Error dialog -->
<div id="error_msg" class="ui small modal">
    <div class="header">
        Error Message
    </div>
    <div class="content">
        <div class="description">
            {{errorMsg}}
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button">OK</div>
    </div>
</div>

<script src="js/ui.js"></script>
<script src="js/controller.js"></script>
</body>

</html>